body {
  background: #fff;
  overflow-x: hidden;
  text-align: justify;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

figure {
  line-height: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

img {
  max-width: 100%;
}

a {
  color: #000000;
}